<html>
    <head>
        <title>
            <%= title%>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="heading">
            rendered from ejs view
        </h1>
        
        <ul id="list">
            <% for(let i of contact_list){ %>
            <li id="item">
                <p id="name"><%= i.name %></p>
                <p id="phone"><%= i.phone %></p>
                <a href="/delete-contact/<%= i._id %>">delete</a>
            </li>
            <% } %>
        </ul>
        <form action="/create-contact" method="post">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter number" required>
            <button type="submit">Add contact</button>
        </form>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>